<header id="particles-js" class="hero">
    <nav>
        <ul>
            <li><a href="/">Portfolio</a></li>
            <li><a href="/blog">Blog</a></li>
            <li><a href="/about">Contact</a></li>
        </ul>
    </nav>

    <div id="name">
        <p id="name-name">RONDEAU Clément</p>
        <p id="name-job">Junior game developer</p>
        <div id="social">
            <a class="smGlobalBtn twitterBtn" href="https://twitter.com/{{ site.twitter_username }}" target="_blank"></a>
            <a class="smGlobalBtn githubBtn" href="https://github.com/{{ site.github_username }}" target="_blank"></a>
        </div>
    </div>
</header>