<header class="hero">
    {% include nav_menu.html %}

    <div id="name">
        <p id="name-name">RONDEAU Clément</p>
        <p id="name-job">Junior game programmer</p>
        <div id="social">
            <a class="smGlobalBtn twitterBtn" href="https://twitter.com/{{ site.twitter_username }}" target="_blank"></a>
            <a class="smGlobalBtn githubBtn" href="https://github.com/{{ site.github_username }}" target="_blank"></a>
            <a class="smGlobalBtn linkedinBtn" href="https://www.linkedin.com/in/clement-rondeau/" target="_blank"></a>
        </div>
    </div>
</header>