<!-- Renders post date, title, and snippet of text. -->
<div class="py-2 mr-4 mb-2 prose home-project-background">
	<div class="px-2">
		<h2 class="h3 lh-condensed mt-1">
	    	<a class="link-primary" title="{{ post.url | prepend: site.baseurl }}" href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a>
	  	</h2>
	  	<a href={{post.page_link}} target="_blank"><img src={{ post.thumb }} alt="" style="max-width: 100%; height: auto;"></a>
  		{% if post.gametitle %}
  			<p class="gametitle">
	  			<b>{{ post.gametitle }}</b>
	  			<br/>
	  		</p>
  		{% endif %}
	  	<p>
	  		{{ post.excerpt | markdownify }}
	  	</p>
	</div>
</div>
