#project-content {
	flex-grow: 9;
	width: 50%;
	margin: 0 auto;

	color: white;

	display: flex;
	flex-direction: column;

	#project-informations {
		display: flex;
		flex-direction: row;
		align-items: baseline;

		border-bottom: 1px solid white;

		margin-bottom: 5%;

		* {
			flex-grow: 1;
		}

		#project-title {
			margin: 0;
		}

		#project-date {
			text-align: right;
		}
	}

	#post-content {
		font-family: 'Roboto', sans-serif;
		font-weight: 300;
		font-size: 1rem;

		text-align: justify;

		ul, ol {
			padding-left: 3%;
		}

		strong {
			color: #65c1ff;
		}
	}
}