#about {
	flex-grow: 9;
	width: 50%;
	margin: 0 auto;

	color: white;

	display: flex;
	flex-direction: column;

	#about-presentation {
		display: flex;
		flex-direction: row;
		justify-content: space-between;

		#about-me-intro {
			margin-bottom: 1.5em !important;
		}

		#about-me {
			width: 70%;
			text-align: justify;
		}

		#about-picture {
			width: 20%;

			#main-picture {
				width: 100%;
				height: auto;
			}
		}
	}

	#resume {
		display: flex;
		flex-direction: row;
		justify-content: space-between;

		margin-top: 5%;

		a {
			width: 48%;
			text-align: center;
			text-decoration: none;

			img {
				width: 100%;
				height: auto;
			}
		}
	}

	a:hover {
		text-decoration: none;
	}

	#about-presentation {

	}
}