<!DOCTYPE html>
<html>

    {% include head.html %}
    <body class="site">

        <div class="site-content">

            <div id="particles-js" class="hero">
                <nav>
                    <div></div>
                    <div></div>
                    <ul>
                        <li><a href="#">Portfolio</a></li>
                        <li><a href="#">Blog</a></li>
                        <li><a href="#">Contact</a></li>
                    </ul>
                    <div></div>
                </nav>
            </div>

            <div id="projects">
            </div>
        </div>

        {% include footer.html %}
    </body>

</html>
