---
layout: default
---
<div id="homepage-header">
    {% include homepage_header.html %}
</div>

<div>
    <div id="projects">
        <div id="presentation"><p>I'm a student <a href="http://www.enjmin.fr/" target="_blank">@CNAM-Enjmin</a> and I'm looking for a 6-months internship starting from march 2018.</p></div>

        <div id="projects-filters">
            <div class="projects-selector" data-filter="*"><span>All projects</span></div>
            <div class="projects-selector" data-filter=".school-project"><span><span>School projects</span></div>
            <div class="projects-selector" data-filter=".personal-project"><span>Personal projects</span></div>
        </div>

        <div id="projects-container">
            {% for post in site.categories.projects %}
                {% include post_block.html %}
            {% endfor %}
        </div>
    </div>
</div>