---
layout: page
---
<article id="project-content">
	<div id="project-header">
		<h1 id="project-title">
			{{ page.title }}
		</h1>
		<div id="project-date">
			{{ page.date | date: "%b, %Y" }}
		</div>
	</div>

	<div id="project-infos">
		<div id="abstract">
			{{ page.abstract | markdownify }}
		</div>

		<div id="infos">
			<div id="type">
				Type: {{ page.type }}
			</div>
			<div id="platforms">
				Platforms: {{ page.platforms }}
			</div>
			<div id="inputs">
				Inputs: {{ page.inputs }}
			</div>
		</div>
	</div>

	<div id="banner">
		{% if page.banner.type == "image" %}
			<img src={{ page.banner.src }}>
		{% elsif page.banner.type == "video" %}
			<div class="responsive-video">
				<iframe src={{ page.banner.src }} width="640px" height="360px" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
			</div>
		{% endif %}
	</div>

	<div id="project-comp">
		<div id="tasks">
			<h2>Tasks</h2>
			{% if page.task-header != blank %} {{ page.task-header }} {% else %} My main tasks on this project were : {% endif %}

			<ul>
				{% for task in page.tasks %}
					<li> {{ task }} </li>
				{% endfor %}
			</ul>
		</div>

		<div id="team">
			<h2>The team</h2>
			<ul>
				{% for member in page.team %}
					<li> {{ member.name }} ({{ member.role }})</li>
				{% endfor %}
			</ul>
		</div>
	</div>

	{% assign content = post.content | strip_newlines %}
	{% if content != "" %}
		<div id="post-content">
			{{ content }}
		</div>
	{% endif %}

	<div id="front">
		{% for screenshot in page.screenshots %}
			<div class="screenshot">
				<img data-lity class="" src= {{ screenshot }}>
			</div>
		{% endfor %}
	</div>

</article>