---
layout: page
---
<article id="project-content">
	<div id="project-header">
		<h1 id="project-title">
			{{ page.title }}
		</h1>
		<div id="project-date">
			{{ page.date | date: "%b, %Y" }}
		</div>
	</div>

	<div id="project-infos">
		<div id="abstract">
			{{ page.abstract | markdownify }}
		</div>

		<div id="infos">
			<div id="type">
				Type : Platformer action
			</div>
			<div id="platforms">
				Platforms : Windows, Mac, Linux
			</div>
			<div id="inputs">
				Inputs : Gamepad, keyboard
			</div>
		</div>
	</div>

	<div id="banner">
		{% if page.banner.type == "image" %}
			<img id="banner" src={{ page.banner.src }}>
		{% elsif page.banner.type == "video" %}
			<div class="responsive-video">
				<iframe src={{ page.banner.src }} width="640px" height="360px" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
			</div>
		{% endif %}
	</div>

	<div id="project-comp">
		<div id="tasks">
			<h2>Tasks</h2>
			{% if page.task-header != blank %} {{ page.task-header }} {% else %} My main tasks on this project were : {% endif %}

			<ul>
				{% for task in page.tasks %}
					<li> {{ task }} </li>
				{% endfor %}
			</ul>
		</div>

		<div id="team">
			<h2>The team</h2>
			<ul>
				{% for member in page.team %}
					<li> {{ member.name }} ({{ member.role }})</li>
				{% endfor %}
			</ul>
		</div>
	</div>

	<div id="post-content">
		{{ content }}
	</div>

	<div id="front">
		<img src="https://placeholdit.co//i/500x500?">
		<img src="https://placeholdit.co//i/500x500?">
	</div>

</article>