---
layout:    page
---
<div id="about">

	<div id="about-presentation">
		<div id="about-me">
			<p id="about-me-intro"><strong>Hi, my name is Clément Rondeau and I'm a passionate game developer.</strong></p>

			<p>I love to learn and try new things and I spend a lot of my time to develop different kind of things, mainly games. I'm not attached to any technology, it's always good to see what is great in another language and grow our programming knowledge.</p>

			<p>When I'm not programming I'm mainly playing video games, or in my kitchen trying new foreign dishes to eat with my family or friend. If it's not too cold outside (who run during the winter ?!) I might be exercising. I also like to watch movies and take inspiration in books or anime.</p>
		</div>

		<div id="about-picture">
			<img id="main-picture" src="/assets/linkedin_picture.png" alt="Thanks to Tara Quinsac for this picture taken near our school">
		</div>

	</div>

	<div id="resume">
		<a href="/assets/resume/CV_EN_RONDEAU Clément.pdf" target="_blank">
			English resume
			<img src="/assets/resume/en_resume.png" alt="">
		</a>

		<a href="/assets/resume/CV_RONDEAU Clément.pdf" target="_blank">
			French resume
			<img src="/assets/resume/fr_resume.png" alt="">
		</a>
	</div>
</div>